.bloque_ {
    width:100%;
    display: inline-block;
    font-size: 30px;
   
     padding:30px;
   
   }
   .bloque_derecho {
    width:50%;
    display: inline-block;
    font-size: 30px;
    float: right;
     padding:30px;
   }
   .bloque_izquierdo{
       width:50%;
    display: inline-block;
    font-size: 30px;
    float: left;
     padding:30px;
   }
   .botones{
       display: inline-flex;
       width:100%;
   }
   .zoom{
     transition:transform .5s;
   }
   .zoom:hover{
     transform: scale(1.5);
   }